.todolist-list {
    align-items: center;
    text-align: center;
}

.todolist-list button {
    border: none;
    background-color: #F1F3F4;
    border-radius: 50%;
    padding: 15px;
    margin: 10px 2px
}