.navbar {
    display: flex;
}

.menubar .bar {
    background-color: blue;
    height: 800px;
    padding: 20px;
    margin: 0;
    color: white;
    width: 50px;
    align-items:flex-start;
}

.nav_menu {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: 850ms;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nav_menu_active {
    background-color: blueviolet;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
    padding: 0 16px;
    margin: 10px;
}

