.form-input {
    text-align: center;
}
.form-input input {
    border-radius: 40px;
    margin: 1rem;
    padding: 7px;
    box-shadow: 1px 1px 10px 1px gray;
    border: none;
}

.form-input button {
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
} 
